<div *ngIf="!cols || !data">
  Loading Table Data <i class="pi pi-spinner pi-spin"></i>
</div>
<p-table #dt1 *ngIf="cols && data" [columns]="cols" [value]="data" responsiveLayout="scroll">

  <ng-template pTemplate="caption">


    <div style="display: flex;justify-content: right;padding: 5px">
      <span>
          <ng-content></ng-content>

          <input pInputText type="text"
                 (input)="HandleFilter(dt1,$event)"
                 placeholder="Search keyword"/>
      <i class="pi pi-search"></i>

      </span>
    </div>


  </ng-template>

  <ng-template pTemplate="header" let-columns>
    <tr>
      <th style="width: 140px">Options</th>
      <th *ngFor="let col of columns"
          [pSortableColumn]="col.field">{{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td> <button class="ToolbarButton" (click)="confirm(rowData)" pButton icon="pi pi-user-minus"></button>
        <button class="ToolbarButton"  (click)="EmitEdit(rowData)" pButton icon="pi pi-pencil"></button>
      </td>
      <td *ngFor="let col of columns">
        {{rowData[col.field]}}
      </td>
    </tr>
  </ng-template>
</p-table>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
