<div class="bg-bluegray-900 text-gray-100 p-3 flex justify-content-between lg:justify-content-center align-items-center flex-wrap">
  <div class="font-bold mr-8"><i class="pi pi-amazon"></i>Copyright By NTG Feature Team!</div>
  <div class="align-items-center hidden lg:flex">
    <span class="line-height-3">Libero voluptatum atque exercitationem praesentium provident odit.</span>
  </div>
  <a class="flex align-items-center ml-2 mr-8">
    <a class="text-white" href="http://www.ntgclarity.com" target="_blank"><span class="underline font-bold">Learn More</span></a>
  </a>

</div>
