<div class="surface-card p-4 shadow-2 border-round">
  <div class="text-3xl font-medium text-900 mb-3">User Managements</div>

  <div class="border-2 border-dashed surface-border">

    <NTGGrid #grid [data]="UserData" [cols]="cols"
             (DeleteRow)="DeleteRow($event)"
             (EditRow)="EditRow($event)"
    >


      <button type="button" pButton pRipple
              icon="pi pi-plus"
              (click)="AddNewUser()"
              class="ToolbarButton" pTooltip="Add"
              tooltipPosition="bottom"></button>


      <button type="button" pButton pRipple icon="pi pi-file" (click)="grid.exportData()" class="ToolbarButton"
              pTooltip="CSV" tooltipPosition="bottom"></button>

      <button (click)="HandleRefresh()" pRipple class="ToolbarButton" pButton icon="pi pi-refresh"></button>


    </NTGGrid>


  </div>
</div>


<p-blockUI [blocked]="blockedDocument"></p-blockUI>
<p-toast></p-toast>


<p-dialog
  [style]="{width: '30vw'}" position="top"
  *ngIf="ShowAddDialog" [(visible)]="ShowAddDialog" header="Add/Edit new User">


  <app-user-form [RowData]="NewUserObject"
                 [SpinButton]="spingSaveButton"
                 (SaveButtonClick)="HandleSave($event)"
  ></app-user-form>


</p-dialog>
